<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>CheckUserServlet</display-name>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>controller.CheckUserServlet</servlet-class>
  </servlet>
  <display-name>webProject0605</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>controller.UserRegister</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>controller.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>controller.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateUserInfo</display-name>
    <servlet-name>UpdateUserInfo</servlet-name>
    <servlet-class>controller.UpdateUserInfo</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserManagementServlet</display-name>
    <servlet-name>UserManagementServlet</servlet-name>
    <servlet-class>controller.UserManagementServlet</servlet-class>
  </servlet>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/lib/jstl.jar</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>SubmitFundingServlet</display-name>
    <servlet-name>SubmitFundingServlet</servlet-name>
    <servlet-class>controller.SubmitFundingServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FundingDetailServlet</display-name>
    <servlet-name>FundingDetailServlet</servlet-name>
    <servlet-class>controller.FundingDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FundingListServlet</display-name>
    <servlet-name>FundingListServlet</servlet-name>
    <servlet-class>controller.FundingListServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SubmitSponsorshipServlet</display-name>
    <servlet-name>SubmitSponsorshipServlet</servlet-name>
    <servlet-class>controller.SubmitSponsorshipServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>BoardListServlet</display-name>
    <servlet-name>BoardListServlet</servlet-name>
    <servlet-class>controller.BoardListServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateRemainingDaysServlet</display-name>
    <servlet-name>UpdateRemainingDaysServlet</servlet-name>
    <servlet-class>controller.UpdateRemainingDaysServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FundingDetail</display-name>
    <servlet-name>FundingDetail</servlet-name>
    <servlet-class>controller.FundingDetail</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SubmitDonationServlet</display-name>
    <servlet-name>SubmitDonationServlet</servlet-name>
    <servlet-class>controller.SubmitDonationServlet</servlet-class>
  </servlet>

</web-app>